@media screen and (max-width: 1441px) {
    .random h1 {
        font-size: 35px;
    }
    .random h2 {
        font-size: 32px;
    }
    .as-width {
        margin-left: 50px;
    }
    .as-about-h1 p {
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .as-project {
        width: 70%;
    }
    video {
        margin-left: 17px;
    }
}
@media screen and (max-width: 1025px) {
    .random h1 {
        font-size: 28px;
    }
    .random h2 {
        font-size: 24px;
    }
    .as-about-h1 p {
        font-size: 19px;
    }
    .as-width {
        margin-left: 75px;
    }
    .as-project {
        width: 80%;
    }
    video {
        margin-left: 25px;
    }
}
@media screen and (max-width: 993px) {

}
@media screen and (max-width: 769px){
    header .container-fluid .as-padding {
        padding-left: 10px !important;
    }
    #navbarNav li {
        padding-left: 10px !important;
        padding-right: 0px !important;
    }
    .as-about-h1 p {
        font-size: 17px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .as-width {
        margin-left: 60px;
    }
    .as-project {
        width: 60%;
    }
    .as-promenljiva .col-12 {
        width: 70%;
    }
    .as-promenljiva .ms-3 {
        margin-left: 0px !important
    }
    video {
        margin-left: 19px;
    }
}
@media screen and (max-width: 601px) {
    .bg-img {
        padding-top: 250px;
        padding-bottom: 250px;
    }
    .as-about-h1 p {
        font-size: 16px;
    }
    .as-width {
        width: 60%;
        margin: 50px auto;
    }
    video {
        margin-left: 30px;
    }
    .as-promena1{
        width: 100%;
    }
    .as-promena1 li {
        margin:0px auto;    
    }
    .as-pozicija a {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        padding: 0px !important
    }
    .as-pozicija a {
        margin-right: 0px !important
    }
    .as-promena2{
        width: 100%;
        text-align: center;
    }
    .as-promena3{
        width: 100%;
    }
    .blok{
        width: 100%;
    }
}
@media screen and (max-width: 481px) {
    .random h1 {
        font-size: 25px;
    }
    .random h2 {
        font-size: 21px;
    }
    .as-pozicija a {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        padding: 0px !important
    }
    .as-pozicija a {
        margin-right: 0px !important
    }
    .as-pozicija ul {
        width: 100%;
        padding: 0px !important
    }
    .as-pozicija li {
        margin: 0px auto;
    }
    video {
        margin-left: 23px;
    }
    .as-promena2{
        width: 100%;
        text-align: center;

    }
    .as-promena3{
        width: 100%;
    }
}
@media screen and (max-width: 426px) {
    .random h1 {
        font-size: 22px;
    }
    .random h2 {
        font-size: 19px;
    }
    .as-promenljiva .col-12 {
        width: 90%;
    }
    video {
        margin-left: 21px;
    }
    #about{
        width: 335PX; /*404-78 = 325 548 - 78= 470*/
        height: 470px;
    }
}
@media screen and (max-width: 376px) {
    .as-width {
        width: 70%;
    }
    .as-project {
        width: 70%;
    }
    .as-about-h1 p {
        font-size: 15px;
        padding-bottom: 5px;
    }
    .as-promenljiva .col-12 {
        width: 92%;
    }
    video {
        margin-left: 19px;
    }
}
@media screen and (max-width: 321px) {
    .random h1 {
        font-size: 20px;
    }
    .random h2 {
        font-size: 17px;
    }
    .as-about-h1 p {
        padding-bottom: 10px;
    }
    video {
        margin-left: 17px;
    }
    #as-navbar .fs-5 {
        font-size: 0.77rem !important;
}
#about{
    width: 318PX; 
    height: 440px;
}
}